<mat-toolbar color="primary">
    <span>My E-Commerce</span>
    <span class="spacer"></span>
    <app-search-input (searchSubmitted)="onSearch($event)"></app-search-input>
    <span class="spacer"></span>
    <button mat-button (click)="goToPage('/')">Home</button>
    <button mat-button *ngIf="!this.authService.isLoggedIn()" (click)="goToPage('/login')">Login</button>
    <button mat-button *ngIf="!this.authService.isLoggedIn()" (click)="goToPage('/signup')">Register</button>
    <button mat-button *ngIf="this.authService.isLoggedIn()" (click)="logout()">Logout</button>
    <button mat-button *ngIf="this.authService.isLoggedIn()" (click)="goToPage('/cart')">Shopping Cart</button>
    <button mat-button *ngIf="this.authService.isLoggedIn()" (click)="goToPage('/orders')">Orders</button>
    <button mat-button *ngIf="this.authService.isLoggedIn()" (click)="goToPage('/products')">Products</button>
    <button mat-button *ngIf="this.authService.isLoggedIn()" (click)="goToPage('/analytics')">Analytics</button>
</mat-toolbar>